@model MangaHub.Models.ViewModels.MangaViewModel
@{
    ViewBag.Title = "Home Page";
}


<ul class="mangas">
    @foreach(var manga in Model.Mangas)
    {
        <li>
            <div class="picture">
                @{ 
                    var base64String = Convert.ToBase64String(manga.Picture);
                    var imgStringSrc = $"data:image/jpg;base64,{base64String}";
                }
                <img src=@imgStringSrc class="manga-image" />
            </div>
            <div class="details">
                <p><strong>Title: </strong>@manga.Title</p>
                <p><strong>Artist Name: </strong>@manga.Artist.Name</p>
                <p><strong>Description: </strong>@manga.Description</p>
            </div>
        </li>
    }
</ul>
