@model MangaHub.Models.ViewModels.MangaViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row pb-4 backgroundWhite">
        @foreach(var manga in Model.Mangas)
        { 
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="row">
                                    <div class="col-12">
                                        <h1 class="text-warning">@manga.Title</h1>
                                        <h3 style="color: #bbb9b9">Uploaded: @manga.DateCreated.ToString("d MMM yyyy HH:mm")</h3>
                                    </div>
                                    <div class="col-12">
                                        @*TODO: implement display of chapters uploaded*@
                                        <p>No Chapters exists...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 text-right">
                                <h2 class="text-warning">by: @manga.Artist.Name</h2>
                                @{
                                    var base64String = Convert.ToBase64String(manga.Picture);
                                    var imageSrc = string.Format("data:imaga/jpg;base64,{0}", base64String);
                                }
                                <img src=@imageSrc class="card-img-top p-2 rounded" style="width:100%" />
                                <p>@manga.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>