body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #eee;
}

table th, table td {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #e4e3e3;
}

th {
    background: #333;
    color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Bootstrap Overrides*/
.dl-horizontal dt {
    white-space: normal;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Page-level styles*/
.manga-list {
    list-style: none;
}


.manga-list .pagination-container {
    width: : 70%;
    float: left;
}

.manga-list .row_count {
    width: 20%;
    float: right;
    text-align: center;
    color: #999;
}

.manga-picture {
    width: 250px;
}

.manga-picture  img {
    width: 100%;
}